<template>
    <div class="sectiontitle">Type</div>

    <!-- TYPE: Instrument type -->
    <cdx-field :is-fieldset="true">
        <template #label>Type</template>
        <cdx-radio
            v-for="radio in radiosInstrumentType"
            :key="'radio-' + radio.value"
            v-model="instrumentType"
            name="radio-group-instrument-type"
            :input-value="radio.value"
        >
            {{ radio.label }}
            <template #description>
                {{ radio.description }}
            </template>
        </cdx-radio>
    </cdx-field>

    <!-- TYPE: Unit and Sampling rate -->
    <div class="column-2">
        <div class="column">
            <cdx-field>
                <cdx-select
                    v-model:selected="samplingUnit"
                    :menu-items="samplingUnitMenuItems"
                    default-label="Select a segment..."
                />
                <template #label>
                    Unit
                </template>
                <template #description>
                    What segment of traffic would you like to target?
                </template>
            </cdx-field>
        </div>
        <div class="column right">
            <cdx-field>
                <cdx-text-input v-model="samplingRate" />
                <template #label>
                    Sampling rate
                </template>
                <template #description>
                    How much traffic from the overall designated traffic should receive this instrument?
                </template>
            </cdx-field>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="contextual-attributes" v-if="instrumentFunction=='new'">
        <!-- TYPE: Contextual attributes -->
        <cdx-field>
            <cdx-chip-input
                v-model="contextualAttributes"
                remove-button-label="Remove"
                placeholder="Select attributes"
            />
            <template #label>
                Contextual Attributes
            </template>
            <template #description>
                Select information to include in your event
            </template>
        </cdx-field>
    </div>
</template>

<script setup>
import { ref } from 'vue'
import { CdxRadio, CdxField, CdxTextInput, CdxSelect, CdxChipInput } from '@wikimedia/codex';

const instrumentFunction = defineModel('instrumentFunction');
const instrumentType = defineModel('instrumentType');
const samplingUnit = defineModel('samplingUnit');
const samplingRate = defineModel('samplingRate');
const contextualAttributes = defineModel('contextualAttributes');

const radiosInstrumentType = [
    {
        label: 'Baseline',
        value: 'baseline'
    },
    {
        label: 'A/B Test',
        value: 'abtest'
    }
];

const samplingUnitMenuItems = [
    { label: 'Segment A', value: 'a' },
    { label: 'Segment B', value: 'b' }
];

const contextualAttributesChips = ref( [
    { value: 'Page Title' },
    { value: 'Performer Language' }
] );
</script>

<style scoped>
.contextual-attributes {
    margin-top: 20px;
}
</style>
