<script setup>
import { ref } from 'vue'
import Form from './form/Form.vue'

const instrumentFunction = ref( 'template' );
</script>

<template>
    <!-- HEADER -->
    <div class="subheader">
        <h1 class="title">Launch your instrument: Example name beta</h1>
        <div class="subtitle">Use this form to configure your instruments and start collecting data.</div>
    </div>
    <Form v-model:instrument-function="instrumentFunction" />
</template>
